# ruff
.ruff_cache

# chglog
.chglog

# training output
wandb/
checkpoints/

# poetry
poetry.lock

# logs
logs/
**/logs/

# test 
tests/ckpts_ddp/

# cache
cache/ 
**/cache/
__pycache__/

# save
save/
**/save/

# cluster
**/cluster/

# claude
CLAUDE.md

# data
data/

# submission files
interactive_gpu.sub
**/interactive_gpu.sub
