## No personal stuff in there, should be in .git/info/exclude
# ruff
.ruff_cache

# chglog
.chglog

# training output
wandb/
checkpoints/

# poetry
poetry.lock

# logs
logs/
**/logs/

# # test, want to keep it !
# tests/data

# symlink to scratch
storage

# cache
cache/ 
**/cache/
__pycache__/

# save
save/
**/save/

# cluster
**/cluster/

# claude
CLAUDE.md

# data
/data/

# Byte-compiled 
__pycache__/

# Distribution
.Python
eggs/
.eggs/
*.egg-info/
*.egg
